### 함수

In [8]:
def introduce(name):
    return f'안녕하세요 {name} 강사 인사드립니다~!'

result = introduce('토끼')
print(result)    # 안녕하세요 토끼 강사 인사드립니다~!
type(result)

안녕하세요 토끼 강사 인사드립니다~!

str

In [5]:
introduce('토끼')

'안녕하세요 토끼 강사 인사드립니다~!'

In [9]:
def print_greeting():
    print("즐거운 오후입니다! 목요일도 화이팅!!")

In [10]:
print_greeting()

즐거운 오후입니다! 목요일도 화이팅!!

In [11]:
# 파라미터 X, return O -> "즐거운 오후입니다! 목요일 화이팅!" 반환

def return_greeting():
    result = print(f'즐거운 오후입니다! 목요일 화이팅!')
    return result

In [12]:
return_greeting()

즐거운 오후입니다! 목요일 화이팅!

In [13]:
def return_greeting():
    return "즐거운 오후"

In [14]:
return_greeting()

'즐거운 오후'

In [15]:
# 파라미터 O, return X -> "즐거운 오후입니다! 목요일 화이팅!" 출력,
# 파라미터로 인사할 사람 이름
# "{이름}님, 즐거운 오후입니다! 목요일도 화이팅!!" 출력

def print_name_greeting(name):
    print(f'{name}님, 즐거운 오후입니다! 목요일도 화이팅!!')

In [17]:
print(print_name_greeting("동그라미"))

동그라미님, 즐거운 오후입니다! 목요일도 화이팅!!
None

In [ ]:
# 파라미터 O, return O -> 파라미터로 인사할 사람 이름
# "{이름}님, 즐거운 오후입니다! 목요일도 화이팅!!" 반환
def return_name_greeting(nick_name):
    return f"{nick_name}님, 즐거운 오후 입니다! 목요일 화이팅!"

In [18]:
def return_var_greeting(name2, time):
    return f"{name2}님, 좋은 {time}입니다."

In [19]:
print(return_var_greeting('토끼', '아침'))

토끼님, 좋은 아침입니다.

In [ ]:
print(return_var_greeting(name2='토끼야', time='점심'))

토끼야님, 좋은 점심입니다.

In [21]:
print(return_var_greeting(time='저녁', name2='야끼토'))

야끼토님, 좋은 저녁입니다.

In [23]:
print(return_var_greeting('저녁', time='야끼토'))

저녁님, 좋은 야끼토입니다.

---
### 패키징과 언패키징

- 패키징 : 여러 값을 하나의 변수로 묶어내는 것
- 언패키징 : 패킹된 객체의 값을 각가의 변수로 풀어내는 것

In [ ]:
# *args | **kwagrs
# *args : n개의 위치 인자가 많을때 사용. 위치 인자 처리가 가능한 매개변수
# **kwargs : n개의 키워드 인자가 많을때 사용. 키워드 매개인자 처리가 가능한 매개변수

In [26]:
def call_animals(*animal_args):
    for animal_name in animal_args:
        print(animal_name)

In [27]:
call_animals('토끼', '양', '판다', '코알라', '늑대', '기린')

토끼
양
판다
코알라
늑대
기린

In [28]:
def test(name3, *args):
    print(name3, args)

In [30]:
test('홍길동', 1, 2, 3, 4, 5, 6, 7)
test(1, 2, 3, 4, 5, 6, 7, '홍길동')

홍길동 (1, 2, 3, 4, 5, 6, 7)
1 (2, 3, 4, 5, 6, 7, '홍길동')

In [31]:
def test1(**kwargs):
    print(type(kwargs), kwargs)

In [38]:
print(test1(name='hong', age=20, height=190, nickname='happy', hobby=['독서','러닝']))

<class 'dict'> {'name': 'hong', 'age': 20, 'height': 190, 'nickname': 'happy', 'hobby': ['독서', '러닝']}
None

In [36]:
def test2(*args):
    print(type(args), args)

In [37]:
print(test2('name','hong', 'age', 20, 'height', 190, 'nickname', 'happy'))

<class 'tuple'> ('name', 'hong', 'age', 20, 'height', 190, 'nickname', 'happy')
None

In [39]:
def test2(a, b, c):
    print(a, b, c)

In [43]:
names = ['김', '박', '이']
print(test2(names)) # 모든 인자가 a로 매칭이 되어 문제가 된다.
# print(test2(*names))

TypeError: test2() missing 2 required positional arguments: 'b' and 'c'

In [ ]:
names = ['김', '박', '이']
# print(test2(names)) -> 모든 인자가 a로 매칭이 되어 문제가 된다.
print(test2(*names))

김 박 이
None

In [ ]:
grade = {'a' : 99, 'b' : 85, 'c' : 70}
test2(grade)

TypeError: test2() missing 2 required positional arguments: 'b' and 'c'

In [44]:
grade = {'a' : 99, 'b' : 85, 'c' : 70}
test2(*grade)

a b c

In [45]:
grade = {'a' : 99, 'b' : 85, 'c' : 70}
test2(**grade)

99 85 70

In [88]:
def func2(b):
    b[1] *= 100 # b[1] = b[1] * 100

b = [1, 2, 3]
func2(b)
print(b)

[1, 200, 3]

## **문제 1: 자기소개 하기**

**"토끼는 IT 회사 첫 출근 날, 자기소개를 준비했다."**

1. `introduce()`라는 함수를 만들어 **"안녕하세요, 저는 토끼 신입사원입니다!"**라는 메시지를 출력하세요.
2. 함수를 호출하여 토끼의 자기소개를 출력하세요.

In [46]:
def introduce():
    return "안녕하세요, 저는 토끼 신입사원입니다!"

In [50]:
msg = introduce()
print(msg)

안녕하세요, 저는 토끼 신입사원입니다!

## **문제 2: 출근 체크하기**

**"토끼는 출근할 때 출근부에 이름을 적어야 한다."**

1. `check_in(name)`이라는 함수를 만들어 매개변수 `name`을 입력받아 다음과 같이 출력하세요.
    - **"[이름]님, 출근 체크 완료!"**
2. 함수를 호출해 **"토끼"**를 출근 체크하세요.

In [52]:
def check_in(name):
    return f'{name}님, 출근 체크 완료!'

result = check_in('토끼')
print(result)

토끼님, 출근 체크 완료!

In [54]:
def check_in2(name):
    print(f'{name}님, 출근 체크 완료!')

check_in2('토끼2')

토끼2님, 출근 체크 완료!

In [56]:
result2 = check_in2('토끼2')
print("함수 반환값 : ", result2)

토끼2님, 출근 체크 완료!
함수 반환값 :  None

## **문제 3: 업무 시간 계산하기**

**"토끼는 오늘 근무한 시간을 계산하고 싶다."**

1. `work_hours(start, end)`라는 함수를 만들어 매개변수 `start`(출근 시간)와 `end`(퇴근 시간)를 입력받아 근무 시간을 계산하세요.
    - 근무 시간 = `end - start`
2. 반환된 근무 시간을 출력하세요.
    - 출력 예시: **"오늘 근무한 시간은 [근무 시간]시간입니다."**

In [58]:
def work_hours(start, end):
    work_times = int(end) - int(start)
    return f'오늘 근무한 시간은 {work_times}시간입니다.'

input_times = work_hours(9, 18)
print(input_times)

오늘 근무한 시간은 9시간입니다.

In [59]:
# Shadowing 방지 : 함수명과 지역 변수는 동일한 이름을 피한다 (work_hours, work_times)
# 함수는 계산만, 출력은 함수 밖에서 처리 → 더 깔끔한 구조
def work_hours(start, end):
    work_times = end - start   # 이미 숫자라면 int() 필요 없음
    return work_times

hours = work_hours(9, 18)
print(f"오늘 근무한 시간은 {hours}시간입니다.")

오늘 근무한 시간은 9시간입니다.

In [93]:
def work_hours(start, end):
    return end - start

print(f'오늘 근무한 시간은 {work_hours(9,18)}시간입니다.')

오늘 근무한 시간은 9시간입니다.

## **문제 4: 점심 메뉴 추천**

**"점심시간, 토끼는 팀원들에게 점심 메뉴를 추천해준다."**

1. `recommend_menu(*menus)`라는 함수를 만들어 여러 개의 점심 메뉴를 매개변수로 전달받으세요.
2. 랜덤하게 하나의 메뉴를 선택하고 반환하세요.
    - 출력 예시: **"오늘의 점심 메뉴는 [선택된 메뉴]입니다!"**
    - 힌트: `random.choice()`를 사용하면 랜덤 선택이 가능합니다. (import random)

In [87]:
import random

def recommend_menu(*menus):
    choice = random.choice(menus)
    return choice

menu_list = recommend_menu('a', 'b', 'c', 1, 2.0, True, ['set1', 'set2'])
print(f'오늘의 점심 메뉴는 {menu_list}입니다.')

오늘의 점심 메뉴는 1입니다.

## **문제 5: 오후 커피 마시기**

**"오후에 졸린 토끼는 커피를 마시려고 한다."**

1. `coffee_time()`이라는 함수를 만들어 다음과 같은 문자열을 반환하세요.
    - **"오후 3시입니다. 커피 한 잔 하세요!"**
2. 반환된 문자열을 출력하세요.

In [92]:
def coffee_time():
    return '오후 3시입니다. 커피 한 잔 하세요!'

print(coffee_time())

오후 3시입니다. 커피 한 잔 하세요!

## **문제 6: 업무 성과**

**"토끼는 오늘의 업무 성과를 보고해야 한다."**

1. `work_report(tasks_done)`이라는 함수를 만들어 오늘 처리한 업무 수를 매개변수로 받으세요.
2. 함수는 다음 두 값을 반환합니다.
    - `tasks_done`: 처리한 업무 수
    - `status`: 업무 성과 평가 (10개 이상: "우수", 5~9개: "보통", 4개 이하: "노력 필요")
3. 반환된 값을 사용해 다음 메시지를 출력하세요.
    - **"오늘 처리한 업무는 [업무 수]개입니다. 성과 평가: [평가]"**

In [ ]:
def work_report(tasks_done):
    
    status = ""

    if tasks_done >= 10:        # tasks_done // 5 > 1:
        status = "우수"
    elif tasks_done >= 5:       # tasks_done // 5 == 1:
        status = "보통"
    else:
        status = "노력 필요"

    # status = "우수" if tasks_done >= 10 else ("보통" if tasks_done >= 5 else "노력 필요") #삼항 연산자를 이용한 코드

    return tasks_done, status

result_tasks_done, result_status = work_report(6)
print(f'오늘 처리한 업무는 {result_tasks_done}개입니다. 성과 평가: {result_status}')

오늘 처리한 업무는 6개입니다. 성과 평가: 보통

## **문제 7: 월급 계산 및 세금 공제**

**"토끼는 첫 월급을 계산하고 세금을 공제해야 한다."**

1. `calculate_salary(base_salary, bonus)`라는 함수를 만들어 기본 월급과 보너스를 매개변수로 받으세요.
2. 총 월급을 계산하고, 세금은 총 월급의 10%로 공제하세요.
3. 함수는 다음 두 값을 반환합니다.
    - `net_salary`: 실수령액 (총 월급 - 세금)
    - `tax`: 세금 공제액
4. 반환된 값을 사용해 다음 메시지를 출력하세요.
    - **"세전 월급: [총 월급]원, 세금: [세금]원, 실수령액: [실수령액]원"**

In [111]:
def calculate_salary(base_salary, bonus):
    # 총 월급 계산 / 세금 == 총 월급의 10% 공제
    total_salary = base_salary + bonus
    tax = total_salary * 0.1
    net_salary = total_salary - tax
    return int(net_salary), int(tax) # net_salary == 실수령(총 월급 - 세금), tax = total * 0.1

result_net_salary, result_tax = calculate_salary(5000000, 1000000)
print(f'세전 월급: {result_net_salary + result_tax}원, 세금: {result_tax}원, 실수령액: {result_net_salary}원')

세전 월급: 6000000원, 세금: 600000원, 실수령액: 5400000원