### **문제 1**

1. `name`이라는 이름의 변수를 선언하고, **당신의 이름**을 문자열로 저장하세요.
2. `age`라는 이름의 변수를 선언하고, **당신의 나이**를 숫자로 저장하세요.

In [ ]:
name = "OH Heungjae"
age = 37

print(name, age)

OH Heungjae 37

In [9]:
print(type(name))
print(type(age))

<class 'str'>
<class 'int'>

In [2]:
name = "OH Heungjae"
age = '37'

In [4]:
print(name, age)

OH Heungjae 37

In [7]:
print(type(age))
print(type(name))

<class 'str'>
<class 'str'>

In [12]:
print(name, age) # , 는 출력시 공백을 넣어주고 개행을 디폴트로 같는다.
print(name, age, end='nn') #end='nn' 마지막에 nn을 붙이고 개행을 하지 않는다.
print(age)
print(name, age, sep=':') #sep=':' 는 출력시 :를 넣어준다.

OH Heungjae 37
OH Heungjae 37nn37
OH Heungjae:37

In [4]:
print(name, age)
name = "OH Heungjae2"

OH Heungjae 37