### 반복문
- for (이터러블?한 객체)

In [8]:
lst = ['a', 'b', 'c']

# for 변수명 in 시퀀스:
for ch in lst:
    print(ch)
    print('=====')

print('종료')

a
=====
b
=====
c
=====
종료

In [ ]:
1. 드시고 싶은 점심 메뉴 3가지를 menu 변수에 튜플로 저장해주세요.
2. for문으로 반복하는데 수행코드에 그 요소가 출력되게끔 작성해주시면 됩니다.

In [11]:
menu = ('짜장면', '짬뽕', '탕수육')

for food in menu:
    print(food)

짜장면
짬뽕
탕수육

In [12]:
word = 'hello, world'
for ch in word:
    print(ch)
    print('*****')

h
*****
e
*****
l
*****
l
*****
o
*****
,
*****

*****
w
*****
o
*****
r
*****
l
*****
d
*****

In [ ]:
# 딕셔너리: for in 문에서 key를 반환한다.?

dct = {
    'name' : '오흥재',
    'age' : 37,
    'hobby' : ['독서', 'OTT 감상']
}

for k in dct:
    print(f'{k} = {dct[k]}')
    print('-----')

name = 오흥재
age = 37
hobby = ['독서', 'OTT 감상']

In [ ]:
# 딕셔너리 키만 가져오는 메서드를 사용해서 출력해주세요.

In [32]:
for k in dct.keys():
    print(k)

name
age
hobby

In [ ]:
# 딕셔너리 값만 가져오는 메서드를 사용해서 출력해주세요.

In [33]:
for v in dct.values():
    print(v)

오흥재
37
['독서', 'OTT 감상']

In [ ]:
# 3-1. 딕셔너리 k, v 하나의 쌍(튜플로)을 가져오는 메서드를 사용해서 출력해주세요.

In [35]:
for item in dct.items():
    print(item)

('name', '오흥재')
('age', 37)
('hobby', ['독서', 'OTT 감상'])

In [ ]:
# 3-2. 딕셔너리 k, v 하나의 분리해서 가져오는 메서드를 사용해서 출력해주세요.

In [36]:
for k, v in dct.items():
    print(k, v)

name 오흥재
age 37
hobby ['독서', 'OTT 감상']

In [ ]:
{} -> 딕셔너리, set(중복불가, 순서없음)

In [39]:
foods = {'자몽', '레몬', '수박', '청포도', '레몬', '두리안', '사과', '수박', '수박'}

for f in foods:
    print(f)

print(len(foods))

레몬
청포도
두리안
사과
수박
자몽
6

In [40]:
for _ in range(num):
    print('test')

NameError: name 'num' is not defined

In [41]:
print(range(10), type(range(10)))

range(0, 10) <class 'range'>

In [42]:
range(10)

range(0, 10)

In [49]:
# range 함수를 사용해서 10을 넣고 그 요소를 출력해주세요.
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [50]:
for i in range(2, 10):
    print(i)

2
3
4
5
6
7
8
9

In [57]:
sum = 0

for i in range(1, 11):
    sum = sum + i
    print(i, sum)

1 1
2 3
3 6
4 10
5 15
6 21
7 28
8 36
9 45
10 55

---
### **실습 문제**

In [ ]:
## **문제 1: 손님 응대하기**

**"토끼는 카페에서 아르바이트를 시작했다."**

토끼는 손님들에게 인사를 해야 합니다.

1. 손님 리스트 `customers`에 다음과 같은 손님들이 있습니다.
    - `'판다', '곰', '여우', '호랑이'`
2. `for`문을 사용하여 **각 손님에게 다음과 같은 메시지를 출력하세요**:
    - **"안녕하세요, [손님 이름]님! 무엇을 도와드릴까요?"**

In [58]:
customers = ['판다', '곰', '여우', '호랑이']

for name in customers:
    print(f'안녕하세요, {name}님! 무엇을 도와드릴까요?')

안녕하세요, 판다님! 무엇을 도와드릴까요?
안녕하세요, 곰님! 무엇을 도와드릴까요?
안녕하세요, 여우님! 무엇을 도와드릴까요?
안녕하세요, 호랑이님! 무엇을 도와드릴까요?

In [ ]:
## **문제 2: 메뉴 준비하기**

**"토끼는 주문받은 음료를 준비해야 한다."**

토끼는 손님들이 주문한 음료를 준비합니다.

1. 주문 리스트 `orders`에 다음 음료가 있습니다.
    - `'아메리카노', '카페라떼', '핫초코'`
2. `for`문을 사용하여 **각 음료를 준비하는 메시지를 출력하세요**:
    - **"[음료 이름]를 준비 중입니다..."**

In [59]:
orders = ['아메리카노', '카페라떼', '핫초코']

for menu in orders:
    print(f'{menu}를 준비 중입니다...')

아메리카노를 준비 중입니다...
카페라떼를 준비 중입니다...
핫초코를 준비 중입니다...

In [ ]:
## **문제 3: 청소하기**

**"일이 끝난 후, 토끼는 테이블을 청소해야 한다."**

토끼는 카페의 테이블을 하나씩 청소합니다.

1. 테이블 리스트 `tables`에 숫자 `1`부터 `5`까지의 테이블 번호가 있습니다.
2. `for`문을 사용하여 **각 테이블을 청소하는 메시지를 출력하세요.**
    - **"[n번 테이블] 청소 완료!"**

In [ ]:
tables = [1, 2, 3, 4, 5]
for n in tables:
    print(f'[{n}번 테이블] 청소 완료!')

# for n in range(1,6):
#     print(f'{n}')

[1번 테이블] 청소 완료!
[2번 테이블] 청소 완료!
[3번 테이블] 청소 완료!
[4번 테이블] 청소 완료!
[5번 테이블] 청소 완료!

## **문제 4: 시간 기록하기**

**"토끼는 출근한 후 시간마다 일을 기록해야 한다."**

토끼는 9시부터 12시까지 1시간마다 기록을 남깁니다.

1. `for-range`를 사용하여 9부터 12까지의 시간을 반복하세요.
2. 각 시간마다 **"현재 시간: [시간]시, 근무 기록합니다."**를 출력하세요.

In [ ]:
for i in range(9,13):
    print(f'현재 시간 : {i}시, 근무 기록합니다.')

현재 시간 : [9]시, 근무 기록합니다.
현재 시간 : [10]시, 근무 기록합니다.
현재 시간 : [11]시, 근무 기록합니다.
현재 시간 : [12]시, 근무 기록합니다.

In [ ]:
## **문제 5: 손님 수 세기**

**"손님이 계속 들어오고 있습니다."**

토끼는 10명의 손님이 들어올 때마다 번호를 세야 합니다.

1. `for-range`를 사용하여 숫자 `1`부터 `10`까지 출력하세요.
2. 각 손님마다 **"손님 [번호]번째 입장!"**을 출력하세요.

In [ ]:
for c in range(10):
    c = c + 1
    print(c)

for c in range(10):
    c = c + 1
    print(f'손님 {c}번째 입장!')

1
2
3
4
5
6
7
8
9
10
손님 1번째 입장!
손님 2번째 입장!
손님 3번째 입장!
손님 4번째 입장!
손님 5번째 입장!
손님 6번째 입장!
손님 7번째 입장!
손님 8번째 입장!
손님 9번째 입장!
손님 10번째 입장!

In [ ]:
## **문제 6: 커피 만들기**

**"주문받은 커피를 몇 잔 만들까?"**

토끼는 주문받은 커피의 수량을 만들려고 합니다.

1. `for-range`를 사용해 숫자 `1`부터 `5`까지의 커피 번호를 반복하세요.
2. 각 커피마다 **"[커피 번호]번째 커피를 만들고 있습니다."**를 출력하세요.

In [73]:
for i in range(1,6):
    print(f'{i}번째 커피를 만들고 있습니다.')

1번째 커피를 만들고 있습니다.
2번째 커피를 만들고 있습니다.
3번째 커피를 만들고 있습니다.
4번째 커피를 만들고 있습니다.
5번째 커피를 만들고 있습니다.

In [ ]:
## **문제 7: 테이블 청소하기**

**토끼는 닫기 전에 테이블을 모두 청소해야 한다."**

토끼는 5번 테이블까지 순서대로 청소해야 합니다.

1. `while`문을 사용하여 `1`번부터 `5`번 테이블을 청소하세요.
2. 각 테이블마다 **"[n번 테이블] 청소 완료!"**를 출력하세요.

In [ ]:
n = 0

while n in range(5):
    n = n + 1
    print(f'[{n}번 테이블] 청소 완료!')

[1번 테이블] 청소 완료!
[2번 테이블] 청소 완료!
[3번 테이블] 청소 완료!
[4번 테이블] 청소 완료!
[5번 테이블] 청소 완료!

In [ ]:
## **문제 8: 손님이 그만 올 때까지 기다리기**

**"손님이 그만 올 때까지 카운터에서 기다리는 토끼."**

토끼는 손님이 그만 올 때까지 카운터를 지켜야 합니다.

1. 변수 `customers`에 초기값 `5`를 설정하세요.
2. `while`문을 사용해 손님이 줄어들 때마다 `customers`를 1씩 감소시키세요.
3. 손님이 0이 될 때까지 **"남은 손님 수: [customers]명"**을 출력하세요.
4. 손님이 모두 떠나면 **"오늘의 영업이 끝났습니다!"**를 출력하세요.

In [80]:
customers = 5

while 0 < customers <= 5:
    customers -= 1
    print(f'남은 손님 수: {customers}명')

else:
    print('오늘의 영업이 끝났습니다!')

남은 손님 수: 4명
남은 손님 수: 3명
남은 손님 수: 2명
남은 손님 수: 1명
남은 손님 수: 0명
오늘의 영업이 끝났습니다!

In [ ]:
## **문제 9: 알바비 계산하기**

**"토끼는 일한 시간만큼 알바비를 계산합니다."**

토끼의 시급은 **1시간에 1000원**입니다.

1. 변수 `work_hours`에 일한 시간(정수)을 입력받으세요.
2. `while`문을 사용해 일한 시간만큼 반복하며 `pay`에 시급을 더하세요.
3. 최종 알바비를 **"오늘의 알바비는 [pay]원입니다."**로 출력하세요.

In [86]:
work_hours = int(input('당신의 일한 시간 \'정수\'로 입력하세요 : '))
t = 0
while t != 0:
    t -= 1
    pay += pay
    print(f'오늘의 알바비는 {pay}원입니다.')
else:
    pass