# **문자형 (문자열)**

In [13]:
my_name = 'rabbit'
your_name = ''
# error_name = '이건 안되요~!"

In [ ]:
print(my_name, your_name)

rabbit 이주원

In [14]:
print(type(your_name))

<class 'str'>

In [16]:
line = """
hello
world
"""

print(line)

hello
world

---
### 문자형의 연산

In [20]:
str1 = "오늘의 점심 메뉴는?"
str2 = "포케"

print(str1 + str2)  # 문자열 연결 -> 두 문자열을 합치는데 공백이 없으므로 붙어서 출력됩니다.
print("🥗" * 3 + str(123))

오늘의 점심 메뉴는?포케
🥗🥗🥗123

In [25]:
today = '2025/08/19'
print(today)
# replace 메서드를 사용해서 /를 -로 바꾸고, 출력해주세요.
print(today.replace('/', '-'))
rep_today = today.replace('/', '-')
print(rep_today)
print(today) # 원본 문자열(today)은 변경되지 않습니다. in place로 변경되지 않음
print(rep_today.replace('2025', '2024'))  # 새로운 문자열을 반환합니다

2025/08/19
2025-08-19
2025-08-19
2025/08/19
2024-08-19

In [26]:
# .replace() 메서드를 사용해서 문자열 내의 특정 문자를 다른 문자로 바꿀 수 있습니다.
# 예를 들어, 'hello world'에서 'world'를 'Python'으로 바꿀 수 있습니다.
greeting = 'hello world'
print(greeting.replace('world', 'Python'))  # 'hello Python'이 출력됩니다.

hello Python

In [29]:
txt = "heLLO wORLD"
# 메소드를 사용해서 대문자로 변환, 소문자로 변환, 앞글자를 대문자로 변환해서 출력해주세요.
print(txt.upper())  # 대문자로 변환
print(txt.lower())  # 소문자로 변환
print(txt.capitalize()) # 첫 글자만 대문자로 변환

HELLO WORLD
hello world
Hello world

---
### 포맷팅

1. %
2. str.format()
3. f-string

In [33]:
food = '고구마'
count = 6
print('고양이는 겨울철 양식으로 ' + food + '개를 쿠팡했습니다.')
print('고양이는 겨울철 양식으로 ', food, ' ', count, '개를 쿠팡했습니다.', sep='')

고양이는 겨울철 양식으로 고구마개를 쿠팡했습니다.
고양이는 겨울철 양식으로 고구마 6개를 쿠팡했습니다.

In [42]:
x = 10
y = 123.456
print('x는 %d입니다.' % x)
print('y는 %f 입니다.' % y)
print('y는 %.2f 입니다.' % y)  # 소수점 둘째 자리까지 출력
print('y는 %.3f 입니다.' % y)  # 소수점 셋째 자리까지 출력
print('y는 %.6f 입니다.' % y)  # 소수점 여섯째 자리까지 출력

x는 10입니다.
y는 123.456000 입니다.
y는 123.46 입니다.
y는 123.456 입니다.
y는 123.456000 입니다.

In [43]:
print("x는 {0}, y는 {1}입니다.".format(x, y))
print("x는 {a}, y는 {b}입니다.".format(a=x, b=y))
print(f"x는 {x}, y는 {y}입니다.")  # f-string을 사용한 포맷팅
print(f"x는 {x}, y는 {y:.2f}입니다.")  # 소수점 둘째 자리까지 출력
print(f"x는 {x}, y는 {y:.3f}입니다.")  # 소수점 셋째 자리까지 출력
print(f"x는 {x}, y는 {y:.6f}입니다.")  # 소수점 여섯째 자리까지 출력

x는 10, y는 123.456입니다.
x는 10, y는 123.456입니다.
x는 10, y는 123.456입니다.
x는 10, y는 123.46입니다.
x는 10, y는 123.456입니다.
x는 10, y는 123.456000입니다.

In [ ]:
print(f'고양이는 겨울철 양식으로 {food} {count}개를 쿠팡했습니다.')  # f-string을 사용한 포맷팅
print('고양이는 겨울철 양식으로', food, count, '개를 쿠팡했습니다.')

result_str = f'고양이는 겨울철 양식으로 {food} {count}개를 쿠팡했습니다.'
print(result_str)  # f-string을 사용한 포맷팅 결과 출력

고양이는 겨울철 양식으로 고구마 6개를 쿠팡했습니다.
고양이는 겨울철 양식으로 고구마 6 개를 쿠팡했습니다.
고양이는 겨울철 양식으로 고구마 6개를 쿠팡했습니다.

### **문제 1**

아래 조건에 맞게 변수를 선언하고 결과를 출력하세요.

1. `greeting_message` 변수에 문자열 `"Hello"`를 저장합니다.
2. `greeting_target` 변수에 `"World"`를 저장합니다.
3. 두 문자열을 이어 붙여 `"HelloWorld"`를 출력하세요.

In [46]:
greeting_message = "Hello"
greeting_target = "World"

print(greeting_message + greeting_target)  # 문자열 연결
print(greeting_message, greeting_target, sep='')

HelloWorld
HelloWorld

### **문제 2**

1. `age`에 당신의 나이, `city`에 당신의 거주지를 저장합니다.
2. f-string을 사용하여 다음 문장과 같은 형태로 출력하세요.
    - "나는 25살이고, Seoul에 살고 있습니다."

In [7]:
age = 37
city = "Seoul"

In [9]:
print(f"\"나는 {age}살이고, {city}에 살고 있습니다.\"")

"나는 37살이고, Seoul에 살고 있습니다."